
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Product Registration</title>

<!--
<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

<link rel="stylesheet" href="css/style.css">
-->
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    
<script src="addproduct.js" >
    </script>

</head>
<body>

<br> 
<br>
<div class="productregister-form">
<form method="POST" class="register-form" id="register-form">
<h2>Product Registration Form</h2>
<div class="form-row" ng-app="ProductApp" ng-controller="productController">
    
<div class="form-group" >
<label for="productId">Product Id :</label>
<input type="text" name="productId" id="productId" ng-model="productId" required />
</div>
<br>
<br>  
<div class="form-group" >
<label for="catId">Category Id :</label>
<input type="text" name="catId" id="catId" ng-model="catId" required />
</div>
<br>
<br>

<div class="form-group" >
<label for="productName">Product Name : </label>
<input type="text" name="productName" id="productName" ng-model="productName" required />
</div>
 <br>
<br>
<div class="form-group" >
<label for="description">Description :</label>
<textarea col=100 row=50 name="description" id="description" ng-model="description" required></textarea>
</div>
<br>
 <br>
<div class="form-group" >
<label for="price">Price :</label>
<input type="text" name="price" id="price" ng-model="price" required />
</div>
 <br>
<br>
<div class="form-group" >
<label for="shgId">Shg Id :</label>
<input type="text" name="shgId" id="shgId" ng-model="shgId" required />
</div>
<br>
<br>
    <div class="form-group" >
    <input type="button" name="Submit" ng-click="postData()" value="Submit" id="submit"/>
    </div>
    </div>
    </form>
    
</body>
</html>